<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
 
<configuration>
  <configSections>
    <!-- Cache Configuration --> 
    <section name="CoreConfiguration" type="AJH.CMS.Core.Configuration.CoreConfigSectionHandler, AJH.CMS.Core"/>
  </configSections>

  <CoreConfiguration>  
    <!-- Low: CachePriority="1"  
        BelowNormal: CachePriority="2" 
        Normal: CachePriority="3"
        Default: CachePriority="3"    
        AboveNormal: CachePriority="4"
        High: CachePriority="5"     
        NotRemovable: CachePriority="6" -->
    <Cache TimeOut="180" VirtualPathMonitoringFile="~/Portals/MonitoringFile.txt" CachePriority="3"/>
    <Customer Name="CMS" Image="" EmailAdmin="ma.abushehab@gmail.com" EmailInfo="ma.abushehab@gmail.com"/>
    <Security SessionCurrentUserKey="CurrentAJHCMSUser" SessionCurrentFormKey="CurrentFormKey" SessionCurrentRoleKey="CurrentRoleKey" />
  </CoreConfiguration>

  <appSettings>
    <add key="SecurityKey" value="key"/>
  </appSettings>
  <connectionStrings>
    <!--<add name="CMSCoreConnectionString"
         connectionString="Data Source=.;Initial Catalog=Ayman_CMS_19-05-2012;User ID=sa;Password=123"
         providerName="System.Data.SqlClient" />-->
    <add name="CMSCoreConnectionString"
         connectionString="Data Source=.;Initial Catalog=Layan_05-08-2012_Final;User ID=sa;Password=123"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
    <httpRuntime maxRequestLength="102400"/>
    <sessionState timeout="120"></sessionState>
    <customErrors mode="Off"></customErrors>
    <compilation debug="true" targetFramework="4.0" />
    <pages validateRequest="false" enableEventValidation="false">
      <controls>
        <add tagPrefix="ajax" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit"/>
        <add tagPrefix="CE" namespace="CuteEditor" assembly="CuteEditor"/>
      </controls>
    </pages>

    <authentication mode="None" />


    <httpModules>
      <add name="SWFUpload" type="AJH.CMS.WEB.UI.Controls.SWFUpload.SWFUploadHttpModule,AJH.CMS.WEB.UI"/>
    </httpModules>

  </system.web>

  <system.webServer>

    <modules>
      <add name="SWFUpload" type="AJH.CMS.WEB.UI.Controls.SWFUpload.SWFUploadHttpModule,AJH.CMS.WEB.UI"/>
    </modules>
  </system.webServer>
</configuration>