<?xml version="1.0"?> 
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <!-- Cache Configuration -->
    <section name="CoreConfiguration" type="AJH.CMS.Core.Configuration.CoreConfigSectionHandler, AJH.CMS.Core"/>
  </configSections>

  <CoreConfiguration>
    <!-- Low: CachePriority="1"  
        BelowNormal: CachePriority="2" 
        Normal: CachePriority="3"
        Default: CachePriority="3"    
        AboveNormal: CachePriority="4"
        High: CachePriority="5"     
        NotRemovable: CachePriority="6" -->
    <Cache TimeOut="180" VirtualPathMonitoringFile="~/Portals/MonitoringFile.txt" CachePriority="3"/>
    <Customer Name="CMS" Image="" EmailAdmin="ahabeb86@gmail.com" EmailInfo="ahabeb86@gmail.com" EmailInfo2="ahabeb86@gmail.com"/>
    <Security SessionCurrentUserKey="CurrentAJHCMSUser" SessionCurrentFormKey="CurrentFormKey" SessionCurrentRoleKey="CurrentRoleKey" />
  </CoreConfiguration>

  <appSettings>
    <add key="SecurityKey" value="key"/>
  </appSettings>
  <connectionStrings>
    <!--<add name="CMSCoreConnectionString"
         connectionString="Data Source=.;Initial Catalog=Ayman_CMS_19-05-2012;User ID=sa;Password=123"
         providerName="System.Data.SqlClient" />-->
    <add name="CMSCoreConnectionString"
         connectionString="Data Source=AJH-LAPTOP\SQL2008;Initial Catalog=AJH_CMS_1.0;User ID=sa;Password=sa"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
    <httpRuntime maxRequestLength="102400" requestValidationMode="2.0"/>
    <sessionState timeout="120"></sessionState>
    <customErrors defaultRedirect="/?Error" mode="RemoteOnly"  >
      <error redirect="/Default.aspx?Error=MissingPage" statusCode="404"/>
    </customErrors>
    <compilation debug="true" targetFramework="4.0" />
    <pages validateRequest="false" enableEventValidation="false">
      <controls>
        <add tagPrefix="ajax" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit"/>
        <add tagPrefix="CE" namespace="CuteEditor" assembly="CuteEditor"/>
        <add tagPrefix="telerik" namespace="Telerik.Web.UI" assembly="Telerik.Web.UI"/>
        <add src="~/Controls/Editor_UC.ascx" tagName="Editor_UC" tagPrefix="controls"/>
      </controls>
    </pages>
    <authentication mode="None" />
    <httpModules>
      <add name="CuteEditor.UploadModule" type="CuteEditor.UploadModule,CuteEditor"/>
      <add name="SWFUpload" type="AJH.CMS.WEB.UI.Controls.SWFUpload.SWFUploadHttpModule,AJH.CMS.WEB.UI"/>
      <add name="RadUploadModule" type="Telerik.Web.UI.RadUploadHttpModule" />
    </httpModules>
    <httpHandlers>
      <add verb="*" path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.Upload.RadUploadProgressHandler, Telerik.Web.UI" />
      <add verb="*" path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler, Telerik.Web.UI, Culture=neutral, PublicKeyToken=121fae78165ba3d4"></add>
      <add verb="*" path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler, Telerik.Web.UI, Culture=neutral, PublicKeyToken=121fae78165ba3d4"></add>
      <add path="Telerik.Web.UI.WebResource.axd" verb="*" type="Telerik.Web.UI.WebResource, Telerik.Web.UI" validate="false" />
    </httpHandlers>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <add name="RadUploadModule" type="Telerik.Web.UI.RadUploadHttpModule" />
      <add name="CuteEditor.UploadModule" type="CuteEditor.UploadModule,CuteEditor"/>
      <add name="SWFUpload" type="AJH.CMS.WEB.UI.Controls.SWFUpload.SWFUploadHttpModule,AJH.CMS.WEB.UI"/>
    </modules>
    <handlers>
      <add name="Telerik.RadUploadProgressHandler" verb="*" path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.Upload.RadUploadProgressHandler, Telerik.Web.UI" />
      <add name="Telerik.Web.UI.DialogHandler" verb="*" path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler, Telerik.Web.UI, Culture=neutral, PublicKeyToken=121fae78165ba3d4"></add>
      <add name="Telerik.Web.UI.SpellCheckHandler" verb="*" path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler, Telerik.Web.UI, Culture=neutral, PublicKeyToken=121fae78165ba3d4"></add>
      <add name="Telerik.Web.UI.WebResource" path="Telerik.Web.UI.WebResource.axd" verb="*" type="Telerik.Web.UI.WebResource, Telerik.Web.UI" />
    </handlers>
    <defaultDocument>
      <files>
        <clear />
        <add value="default.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>