<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!-- Cache Configuration -->
    <section name="CoreConfiguration" type="AJH.CMS.Core.Configuration.CoreConfigSectionHandler, AJH.CMS.Core"/>
  </configSections>
  <!-- Cache Configuration -->
  <CoreConfiguration>
    <!-- Low: CachePriority="1"
        BelowNormal: CachePriority="2"
        Normal: CachePriority="3"
        Default: CachePriority="3"
        AboveNormal: CachePriority="4"
        High: CachePriority="5"
        NotRemovable: CachePriority="6" -->
    <Cache TimeOut="60" VirtualPathMonitoringFile="~/Portals/MonitoringFile.txt" CachePriority="3"/>
    <Customer Name="CMS" Image="" EmailAdmin="" EmailInfo=""/>
    <Security SessionCurrentUserKey="CurrentAJHCMSUser"/>
  </CoreConfiguration>
</configuration>